<ion-header>
  <ion-navbar>
    <ion-title>
      List Events
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="presentPopover($event)">
        <ion-icon name="more"></ion-icon>
      </button>
      
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
 <ion-list>   
    <ion-item-sliding  *ngFor="let event of eventList">
      <ion-item (click)='goToEventDetail(event.id)'>
      <p><strong>{{event?.eventName}}</strong><p>
      <p>Place: <strong>{{event?.place}}</strong></p>
      <p>Date: <strong >{{event?.date}}</strong></p>
      </ion-item>
      <ion-item-options>
      <button ion-button color="primary" (click)="goToEditEventDetail(event.id)"><ion-icon name='clipboard'></ion-icon> Edit</button>
      <button ion-button color="danger" (click)="goToDeleteEvent(event.id)"><ion-icon name='trash'></ion-icon> Delete</button>
    </ion-item-options>
    </ion-item-sliding >
</ion-list>

  Thank you {{name}}. You are logged in!
  <p>
    Your email address is:{{email}}
  </p>
  <!--<ion-card *ngIf="userProfile">
  <img [src]="userProfile.photoURL"/>
  <ion-card-content>
    <ion-card-title>
      {{data}}
    </ion-card-title>
    <p>
      The UID for this new user is  and the email is 
    </p>
  </ion-card-content>
</ion-card>-->
</ion-content>

